:root {
  --verde-vmc: #92d050;
  --amarelo-imc: #fee977;
  --vermelho-qgo: #e60101;
  --cinza-indisponivel: #bfbfbf;
}

/*amarelo alternativo: #ffe555 */
@font-face {
  font-family: LexendDeca-Light;
  src: url("../fonts/LexendDeca-Light.ttf");
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-size: 1.2rem;
}

body {
  background-image: url("../img/bg-body.png");
  background-repeat: repeat;
  margin: 0;
}

header {
  display: flex;
}

header > h1 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  font-size: 4rem;
  color: white;
  font-family: LexendDeca-Light;
  padding: 0;
  margin: 0;
}

.logo {
  height: 130px;
}

.logo-aviso {
  height: 50px;
}

#aviso > h1 {
  font-size: 1.8rem;
  text-align: center;
}

#aviso > p {
  font-size: 1.5rem;
}

#aviso > p > b {
  font-size: 1.5rem;
  font-weight: 600;
}

.div-botao-aviso {
  text-align: right;
}

.botao-aviso {
  color: white;
  border-radius: 4px;
  padding: 10px 30px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  font-size: 1.8rem;
}

#interface {
  display: flex;
  align-items: stretch;
}

#painel {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-content: baseline;
  justify-content: space-evenly;
}

.card {
  height: 15rem;
  width: 25rem;
  margin: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: LexendDeca-Light;
}

.card > div {
  padding: 5px;
  display: flex;
  align-items: center;
}

.linha_superior {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  justify-content: space-between;
}

.icao {
  font-weight: 900;
  font-size: 1.7rem;
}

.condicao {
  font-size: 1.5rem;
}

.visibilidade {
  grid-area: 2 / 1 / 3 / 2;
}

.meteorologia {
  grid-area: 2 / 2 / 3 / 3;
}

.teto {
  grid-area: 3 / 1 / 4 / 2;
}

.och {
  grid-area: 3 / 2 / 4 / 3;
}

.vento {
  grid-area: 4 / 1 / 5 / 2;
}

.rajada {
  grid-area: 4 / 2 / 5 / 3;
}

.cabeceiras {
  grid-area: 2 / 3 / 5 / 4;
}

.linha_hora_metar {
  grid-area: 5 / 1 / 6 / 4;
  font-size: 0.9rem;
}

.VMC {
  background-color: var(--verde-vmc);
  border-radius: 5px;
}

.IMC {
  background-color: var(--amarelo-imc);
  border-radius: 5px;
}

.QGO {
  background-color: var(--vermelho-qgo);
  border-radius: 5px;
}

.INDISPONIVEL {
  background-color: var(--cinza-indisponivel);
  border-radius: 5px;
}

.icone_condicao {
  width: 1.8rem;
  margin-right: 3px;
}

.icone_meteorologia {
  width: 2rem;
  margin-right: 3px;
}

.icone_alerta {
  width: 1.5rem;
  margin-right: 3px;
}

.tabela_cabeceiras {
  border-spacing: 0.2rem;
}

.tabela_cabeceiras > tr > td {
  width: 2rem;
  margin: 1rem;
  border-radius: 0.3rem;
  text-align: center;
}

.tabela_cabeceiras > tr > td:not(:first-child) {
  font-size: 0.8rem;
  text-align: center;
}

.icone_pista_em_uso {
  width: 0.8rem;
}

.thr_qgo {
  color: white;
  background-color: #a9042a;
}

.proc_na {
  color: rgba(0, 0, 0, 0.25);
}

.proc_qgn {
  color: #01ff22;
}

.proc_qgo {
  color: #a9042a;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 1;
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 2;
  font-family: sans-serif;
  justify-content: center;
  text-align: justify;
  display: none;
}

.metar_modal {
  margin-bottom: 1rem;
}

.metar_modal > span {
  font-size: 1.8rem;
}

#metar_raw,
#taf_raw {
  font-family: "Courier New", Courier, monospace;
}

#botao_fechar {
  width: 2rem;
  position: absolute;
  top: 5px;
  right: 5px;
}

.copy_icon {
  width: 1.8rem;
}

.titulo_minimos {
  font-size: 2.2rem;
  text-align: center;
}

.tabela_minimos {
  width: 100%;
}

.tabela_minimos th {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

#dados_minimos {
  font-size: 1.6rem;
  text-align: center;
}
